<mat-toolbar color="primary" class="header">
    <span>
        {{ userData?.medicoDTO?.nome }} {{ userData?.medicoDTO?.cognome }}, ecco la lista delle tue cartelle cliniche:

    </span>
</mat-toolbar>

<table mat-table [dataSource]="cartelle" class="mat-elevation-z8 custom">
    <!-- Colonna Reparto -->
    <ng-container matColumnDef="nomePaziente">
        <th mat-header-cell *matHeaderCellDef> Nome Paziente </th>
        <td mat-cell *matCellDef="let cartella"> {{cartella.pazienteDTO?.nome}} </td>
    </ng-container>

    <!-- Colonna Diagnosi -->
    <ng-container matColumnDef="cognomePaziente">
        <th mat-header-cell *matHeaderCellDef> Cognome paziente </th>
        <td mat-cell *matCellDef="let cartella"> {{cartella.pazienteDTO?.cognome}} </td>
    </ng-container>

    <!-- Colonna Terapia -->
    <ng-container matColumnDef="codiceFiscale">
        <th mat-header-cell *matHeaderCellDef> Codice Fiscale </th>
        <td mat-cell *matCellDef="let cartella"> {{cartella.pazienteDTO?.codiceFiscale}} </td>
    </ng-container>


    <ng-container matColumnDef="dato">
        <th mat-header-cell *matHeaderCellDef> Dato </th>
        <td mat-cell *matCellDef="let cartella">
            <!-- Spostiamo il pulsante sotto il form field -->
            <mat-form-field>
                <mat-label>Dato</mat-label>
                <mat-select [(value)]="cartella.dati.id">
                    <!--value metto il valore che voglio prendermi dal select e che voglio passare -->
                    <mat-option *ngFor="let dato of cartella.dati"
                        [value]="dato.id">{{dato.diagnosi}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>


    <ng-container matColumnDef="visualizza">
        <th mat-header-cell *matHeaderCellDef> Azioni </th>
        <td mat-cell *matCellDef="let cartella">
            <div style="display: flex; gap: 10px;">
                <button mat-raised-button color="primary"
                    (click)="visualizza(cartella.dati.id)" class="material-icons pageview" 
                    [disabled]="!cartella.dati.id"> <mat-icon>pageview</mat-icon> Visualizza dato selezionato</button>

                    <button mat-raised-button color="primary" 
                    (click)="visualizzaDatiCartella(cartella.pazienteDTO?.id)" class="material-icons pageview" > <mat-icon>pageview</mat-icon>Visualizza Dati Cartella</button>

                 <button mat-raised-button color="primary" (click)="elimina(cartella.id)" class="material-icons delete"><mat-icon>delete</mat-icon>Elimina</button>
            </div>
        </td>
    </ng-container>

    <!-- Header e righe -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
