<mat-toolbar color="primary" class="header">
    <span>
       Cartella clinica di: {{dati?.anagrafica?.nome }} {{ dati?.anagrafica?.cognome }}, {{ dati?.anagrafica?.codiceFiscale }}.
    </span>
    
</mat-toolbar>

<!-- La tabella con i dati -->
<table mat-table [dataSource]="dati?.dati || []" class="mat-elevation-z8 custom">
    <!-- Colonna Reparto -->
    <ng-container matColumnDef="reparto">
        <th mat-header-cell *matHeaderCellDef> Reparto </th>
        <td mat-cell *matCellDef="let dato"> {{dato.reparto}} </td>
    </ng-container>

    <!-- Colonna Diagnosi -->
    <ng-container matColumnDef="diagnosi">
        <th mat-header-cell *matHeaderCellDef> Diagnosi </th>
        <td mat-cell *matCellDef="let dato"> {{dato.diagnosi}} </td>
    </ng-container>

    <!-- Colonna Terapia -->
    <ng-container matColumnDef="terapia">
        <th mat-header-cell *matHeaderCellDef> Terapia </th>
        <td mat-cell *matCellDef="let dato"> {{dato.terapia}} </td>
    </ng-container>

    <!-- Colonna Cartella Clinica -->
    <ng-container matColumnDef="cartellaClinica">
        <th mat-header-cell *matHeaderCellDef> Nome medico </th>
        <td mat-cell *matCellDef="let dato"> {{dati?.anagrafica?.nomeMedico}} </td>
    </ng-container>

    <ng-container matColumnDef="immagine">
    <th mat-header-cell *matHeaderCellDef> Immagine </th>
    <td mat-cell *matCellDef="let dato">
        <mat-form-field>
            <mat-label>Immagini</mat-label>
            <mat-select [(value)]="dato.immagini.id">
                <!-- value prende il valore che voglio passare e selezionare -->
                <mat-option *ngFor="let immagine of dato.immagini" 
                [value]="immagine.id">{{immagine.nome}}</mat-option>
            </mat-select>
        </mat-form-field>
    </td>
</ng-container>

<ng-container matColumnDef="visualizza">
    <th mat-header-cell *matHeaderCellDef> Azioni </th>
    <td mat-cell *matCellDef="let dato">
        <div style="display: flex; gap: 10px; justify-content: space-evenly">
            <!-- Abilita/disabilita in base al valore di dato.immagineId -->
            <button mat-raised-button color="primary" 
                (click)="visualizza(dato.immagini.id)" 
                class="material-icons pageview"
                [disabled]="!dato.immagini.id"><mat-icon>pageview</mat-icon>Visualizza</button>

                <button *ngIf="userData?.medicoDTO" mat-raised-button color="primary" 
                (click)="nuovaImmagine(dato.id)" 
                class="material-icons add_box"> <mat-icon>add_box</mat-icon> Carica una nuova immagine</button>

            <button *ngIf="userData?.medicoDTO" mat-raised-button color="primary" 
                (click)="eliminaDato(dato.id)" 
                class="material-icons delete red-button"> <mat-icon>delete</mat-icon> Elimina</button>
        </div>
    </td>
</ng-container>


    <!-- Header e righe -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>