<div class="layout-container">
  <!-- Header -->
  <mat-toolbar color="primary" class="header">
    <span>Hospital Management System</span>


    <!-- <span *ngIf="userData?.medicoDTO">
      Benvenuto, {{ userData?.medicoDTO?.nome }} {{ userData?.medicoDTO?.cognome }}.
    </span> -->


  </mat-toolbar>

  <!-- Horizontal Menu -->
  <nav mat-tab-nav-bar [tabPanel] = "lista">
    <a
    mat-tab-link
    *ngFor="let link of links"
    [routerLink]="link.path"
    [active]="activeLink === link.path"
    (click)="activeLink = link.path">
    {{ link.label }}
  </a>
  </nav>

  <mat-tab-nav-panel #lista>
    <router-outlet></router-outlet> <!-- This will display your routed content -->
  </mat-tab-nav-panel>


  <!-- Footer -->
  <footer class="footer">
    <p>Hospital Management System &copy; 2024</p>
  </footer>
</div>