.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Occupare almeno tutta l'altezza della finestra */
}

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1em;
  color: white;
}


.span {
  justify-content: center;
}

.content {
  flex-grow: 1; /* La parte principale della pagina si espande */
  padding: 2em;
  
}

.footer {
  background-color: #6996e4;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: auto; /* Spinge il footer in basso */
  width: 100%; /* Occupa l'intera larghezza */
  position: relative; /* Rimuove spazio aggiuntivo */
  bottom: 0; /* Assicura che sia sempre sul fondo */
}
.mat-tab-link.active {
  font-weight: bold;
  color: blue;
}

/* Container for the image and the card to ensure they are aligned side by side */


