.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  
  
}

.logo {
  height: 40px;
  margin-right: 15px;
}

.hospital-name {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 1em;
}

.footer {
  background-color: #6996e4;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.main-content {
  flex-grow: 1;
}

.content-card {
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.mat-tab-link.active {
  font-weight: bold;
  color: blue;
}

.mat-toolbar.mat-primary {
  background-color: #99a6ed;
  color: white;
}

.mat-elevation-z4 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mat-elevation-z8 {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.custom th,
.custom td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.custom th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr.mat-header-row {
  background-color: #e0e0e0;
}



/* Media Queries */
@media (max-width: 768px) {
  /* Hide desktop menu and show mobile menu */
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 769px) {
  /* Show desktop menu and hide mobile menu */
  .desktop-menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}
