p {
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
}

.image-container {
  display: flex;
  justify-content: flex-start; /* Allinea l'immagine verso sinistra */
  align-items: center; /* Centra verticalmente */
  
 
}

.image-container span{
  font-size: 18px;  /* dimensione*/
  /*font-style: italic; /* Corsivo */
  font-weight: bold;  /* Grassetto */
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.image-container img {
  padding-left: 10%;
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: auto; /* Mantieni l'aspect ratio dell'immagine */
  object-fit: cover;
}
mat-card {
  width: 800px;
  padding: 1em;
  margin-left: 300px;
  margin-top: 100px;
 
}
.transparent-card {
  background-color: rgba(255, 255, 255, 0.5); /* Trasparente */
  /* Rimuove l'ombra */
  border-color: rgb(35, 119, 184);
  
}




