/* Center the entire container on the page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container for the image and the card to ensure they are aligned side by side */
.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}

.image-container {
  height: 100%;
}

.image-container img {
  width: 400px;
  /* Same width as the card */
  height: 100%;
  object-fit: cover;
}

mat-card {
  width: 400px;
  padding: 2em;
}

.login-field {
  display: block;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  width: 48%;
}
.mat-mdc-raised-button.mat-accent {
  --mdc-protected-button-container-color: #342b97;
  --mdc-protected-button-label-text-color: white;
  --mat-protected-button-state-layer-color: white;
  --mat-protected-button-ripple-color: rgba(195, 195, 195, 0.862);
}

.register-button {
  background-color: rgb(21, 66, 131);
  color: white;
}
.error-message {
  color: red;
  margin-top: 12px;
}
