<mat-card>
    <mat-card-title>Compila i seguenti campi per creare l'immagine!</mat-card-title>
    <form [formGroup]="createImageForm" (ngSubmit)="crea()">
      
      <!-- Caricamento immagine - RIMOSSO mat-form-field per input file -->
      <div class="full-width">
        <label for="file">Carica immagine </label>
        <input id="file" type="file" (change)="onFileChange($event)" required />
        <mat-error *ngIf="!fileUploaded && createImageForm.touched">
          Il caricamento del file è obbligatorio.
        </mat-error>
      </div>
  
      <!-- Nome immagine -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome immagine</mat-label>
        <input matInput formControlName="nome" placeholder="Inserisci il nome dell'immagine" required />
        <mat-error *ngIf="createImageForm.get('nome')?.invalid && createImageForm.get('nome')?.touched">
          Il nome dell'immagine è obbligatorio.
        </mat-error>
      </mat-form-field>
  
      <!-- Data di inserimento -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Data di Inserimento</mat-label>
        <input matInput formControlName="dataInserimento" placeholder="YYYY-MM-DD" />
        <mat-error *ngIf="createImageForm.get('dataInserimento')?.hasError('required')">La data è obbligatoria.</mat-error>
        <mat-error *ngIf="createImageForm.get('dataInserimento')?.hasError('invalidDate')">Il formato deve essere YYYY-MM-DD.</mat-error>
      </mat-form-field>
  
      <!-- Tipo di immagine -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo di immagine</mat-label>
        <input matInput formControlName="tipo" placeholder="Tipo di immagine (es. MRI, X-ray)" required />
        <mat-error *ngIf="createImageForm.get('tipo')?.invalid && createImageForm.get('tipo')?.touched">
          Il tipo di immagine è obbligatorio.
        </mat-error>
      </mat-form-field>
  
      <!-- Bottone di invio -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="createImageForm.invalid">
          Crea Immagine
        </button>
      </div>
  
    </form>
  </mat-card>
  